---
layout: default
title: Blog
---

<!-- grid -->
<div class="w3-row">

    <!-- card entries -->
    {% for post in site.posts %}
        <div class="w3-col l4 m6 s12">
            <!-- card entry -->
            {% include frame.html
                name=post.title
                image=post.image
                link=post.url
                description=post.excerpt
                icon=post.icon %}
            <hr>
            <!-- end card entry -->
        </div>
    {% endfor %}
    <!-- end grid entry -->
</div><br>
