---
layout: default
title: Blog
---

<!-- grid -->
<div class="w3-content"  style="max-width:{{ site.page_width }}">
<div class="w3-row">
    <!-- card entries -->
    {% for post in site.posts %}
        <div class="w3-col l12 m12 s12 w3-white">
            <!-- card entry -->
            {% include blog-frame.html
                name=post.title
                image=post.image
                link=post.url
                description=post.excerpt
                icon=post.icon
                abstract=post.abstract
                tags=post.tags
                date=post.date
            %}
            <!-- end card entry -->
        </div>
    {% endfor %}
    <!-- end grid entry -->
</div><br>
</div>
