---
title: Home
layout: default
---


<!-- grid -->
<div class="w3-content"  style="max-width: 700px">
<div class="w3-row">
        <!-- card entries -->
        {% for item in site.data.navigation %}
            {%  if item.name != 'Home' %}
            <div class="w3-col l12 m12 s12">
                <!-- card entry -->
                {% include frame.html
                    name=item.name
                    image=item.image
                    link=item.link
                    description=item.description
                    icon=item.icon%}
                <!-- end card entry -->
            </div>
            {% endif %}
        {% endfor %}
    <!-- end grid entry -->
</div>
</div><br>
