---
title: Research
layout: plain
---









{% for item in site.data.publications %}
<div class="w3-container w3-row w3-padding-small">
            <div class="w3-round-large w3-padding">
                <!-- abstract -->
                <!-- <button  class="w3-button w3-large w3-left-align w3-hover-amber" style="outline:none"> -->
                <!--  width="{{ site.page_width | times: 1.1}}"  height="{{ site.page_width | times: 0.5625 | times: 1.1 }}"-->
                <div class="w3-padding w3-light-gray w3-round-large" style="outline:none;">
                    <div></div>
                    <b>{{ item.title }}</b>
                    <p style="display:inline">{{ item.authors }} {{ item.conference }}</p>

                    <div class="w3-bar">
                        <button onclick="toggleContent('{{ item.id }}')" class="w3-bar-item w3-button w3-small w3-round-xxlarge w3-hover-amber"
                                style="outline:none; position:relative;">
                            <i id="__button{{ item.id }}" class="fa fa-arrow-down"></i>
                        </button>
                        {% if item.poster %}
                            <button class="w3-bar-item  w3-button w3-round-xxlarge w3-hover-amber w3-right"
                                    style="outline:none; position:relative;">
                                <a href="{{ item.poster }}"><i class="fa fa-file-image-o"></i></a>
                            </button>
                        {% endif %}
                        {% if item.youtube %}
                            <button class="w3-bar-item  w3-button w3-round-xxlarge w3-hover-amber w3-right"
                                    style="outline:none; position:relative;">
                                <a href="https://www.youtube.com/watch?v={{ item.youtube }}"><i class="fa fa-file-video-o"></i></a>
                            </button>
                        {%  endif %}
                        {% if item.paper %}
                            <button class="w3-bar-item  w3-button w3-round-xxlarge w3-hover-amber w3-right"
                                    style="outline:none; position:relative;"><a href="{{ item.paper }}">
                                    <i class="fa fa-file-pdf-o"></i></a>
                            </button>
                        {%  endif %}

                    </div>

                    <div id="__abstract{{ item.id }}" class="w3-hide">
                        <p><i>{{ item.abstract }}</i></p>
                        <div class="w3-row video_wrapper">
                            <iframe src="https://www.youtube.com/embed/{{ item.youtube }}?autoplay=1&mute=1" ></iframe>
                        </div>
                    </div>


                </div>

                <!-- </button> -->


                <!-- ttoc -->
            </div>
</div>
{% endfor %}

{{ "![image](/assets/images/research.jpg)" | markdownify }}



<script>
    function toggleContent(id) {
        // let x = document.getElementById('Content');
        let ic = document.getElementById('__button'+id);
        let y = document.getElementById('__abstract'+id);
        console.log(ic);
        // var outer = document.getElementById('OuterContainer');

        if (y.className.indexOf("w3-show") == -1) {
            // x.className += " w3-show";
            // ic.className = ic.className.replace(" fa-list", " fa-comment");
            y.className = y.className.replace("w3-hide", "w3-show");
            ic.className = ic.className.replace("fa-arrow-down", "fa-arrow-up");

        } else {
            // x.className = x.className.replace(" w3-show", "");
            // ic.className = ic.className.replace(" fa-comment", " fa-list");
            y.className = y.className.replace("w3-show", "w3-hide");
            ic.className = ic.className.replace("fa-arrow-up", "fa-arrow-down")
        }
    }
</script>