<!-- Exposes:
- name
- content
- image
- description
- link
- format
- abstract
- tags
- date
-->



<div class="w3-card-4 w3-margin w3-round-xl">
    <div class="w3-container w3-row w3-padding-small  w3-white">
        <div class="w3-container w3-row w3-padding-small">
            <div class="w3-col l2 m0 s0 w3-container"></div>
            <div class="w3-col l8 m0 s0 w3-container">
            <a href="{{ include.link }}"><h1 class="w3-center" style="font-style: normal;">{{ include.name }}</h1></a>
            </div>


            <div>
                <div class="outer-center">

                    <div class="inner-center w3-round-large w3-padding">

                        <!-- abstract -->
                        <!-- <button  class="w3-button w3-large w3-left-align w3-hover-amber" style="outline:none"> -->
                        <div class="w3-padding w3-light-gray w3-round-large" style="outline:none">

                            <div class="w3-col l2 m0 s0 w3-container"></div>
                            <div id="__abstract" class="w3-hide w3-show">
                                <div class="w3-row">
                                    {% if include.abstract %}
                                        <p style="margin: 0 0 5"><em>{{ include.abstract }}</em></p>
                                    {% endif %}
                                </div>
                                <button class="w3-button w3-dark-gray w3-hover-dark-gray w3-small w3-round-xxlarge"
                                        style="outline:none; position:absolute; bottom: 0px; right: 0px;">
                                    <i class="fa fa-comment"></i>
                                </button>

                            </div>
                        </div>

                        <!-- </button> -->


                        <!-- ttoc -->
                    </div>
                </div>
            </div>

        {% if include.image %}
        <div class="w3-container w3-center w3-padding">
            <img class=w3-round-xl" src="{{ include.image }}" alt={{ include.name }} style="width:80%">
        </div>
        {% endif %}


        <div class="w3-container" style="font-size: 12px">
            {% if include.tags %}
            <div class="w3-bar">
                <div class="w3-bar-item"><b>Tags...</b></div>
                {% for tag in include.tags %}
                    <div class="w3-bar-item w3-round-xxlarge w3-light-gray">{{tag }}</div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
