---
layout: default
---



    <!-- page title -->
    <div class="w3-bar  w3-white sticky w3-center w3-padding header w3-hide" id="BAR">
        <a href="/index.html">
            <button id="home" class="w3-button w3-padding  w3-hover-amber w3-light-gray w3-round-xxlarge w3-right header" style="outline:none; margin: 1px 1px">
                <i class="fa fa-home" style="color: black"></i><small class="header" > home</small>
            </button>
        </a>

        <a id="cv" href="/cv.html"><button class="w3-button w3-padding  w3-hover-amber w3-light-gray w3-round-xxlarge w3-right" style="outline:none; margin: 1px 1px">
                <i class="fas fa-book" style="color: black"></i><small class="header" ></small></i><small>  cv</small>
            </button></a>

        <a id="blog" href="/blog.html"><button class="w3-button w3-padding  w3-hover-amber w3-light-gray w3-round-xxlarge w3-right" style="outline:none; margin: 1px 1px">
                <i class="fas fa-blog" style="color: black"></i><small class="header" > blog</small></i>
            </button></a>

        {% unless page.no_nav %}
        <button onclick="goToPreviousAnchor()" class="w3-button w3-padding w3-hover-amber w3-dark-gray w3-round-xxlarge w3-right" style="outline:none; margin: 1px 1px">
            <i class="fa fa-arrow-circle-up" aria-hidden="true" style="color: #fff"></i><small class="header"></small>
        </button>
        <button onclick="goToNextAnchor()" class="w3-button w3-padding w3-left-align w3-hover-amber w3-dark-gray w3-round-xxlarge w3-right" style="outline:none; margin: 1px 1px">
            <i class="fa fa-arrow-circle-down" aria-hidden="true" style="color: #fff"></i><small class="header"></small>
        </button>
        {% endunless %}
    </div>



    <div id="pad">

    <div class="w3-row w3-padding-small">
        <div class="w3-col l2 m0 s0 w3-container"></div>
        <div class="w3-col l8 m0 s0 w3-padding-small">
            <a id="__title" class="anchor"></a>
            {%  if page.title %}
                <h1 class="w3-center">{{ page.title }} <a href="#__title" class="Anchor">#</a></h1>
            {% else %}
                <a href="#__title" style="padding-top: 50px;margin-top: -50px;" class="Anchor w3-center"></a>
            {% endif %}
            <div>
                <div class="outer-center">
                    <div class="inner-center w3-round-large w3-padding">
                        <!-- abstract -->
                        <!-- <button  class="w3-button w3-large w3-left-align w3-hover-amber" style="outline:none"> -->

                        {% if page.abstract %}
                        <div class="w3-padding w3-light-gray w3-round-large" style="outline:none;">
                            <div class="w3-content content" style="float: left">
                            </div>

                            <div id="__abstract" class="w3-hide w3-show">
                                <div class="w3-row">
                                        <p style="margin: 0 0 5"><em>{{ page.abstract }}</em></p>
                                </div>
                                <button class="w3-button w3-dark-gray w3-small w3-round-xxlarge w3-hover-dark-gray"
                                        style="outline:none; position:absolute; bottom: 0px; right: 0px;">
                                    <i class="fa fa-comment"></i>
                                </button>
                            </div>
                        </div>
                        {% endif %}

                        <!-- </button> -->


                        <!-- ttoc -->
                    </div>
                    <div class="clear"/>
                </div>
            </div>


        </div>
        <div class="w3-col l2 m0 s0 w3-container"><p></p></div>
    </div>



    {% if page.numbered %}
        {% assign use_numbers = page.numbered %}
    {% else %}
        {% assign use_numbers = site.numbered %}
    {% endif %}


    {% if page.tags %}
        <p></p>
        <div class="w3-container" style="font-size: 12px">
            <div class="w3-bar">
                <div class="w3-bar-item"><b>Tags...</b></div>
                {% for tag in page.tags %}
                    <div class="w3-bar-item w3-round-xxlarge w3-light-gray">{{ tag }}</div>
                {% endfor %}
            </div>
        </div>
        <p></p>
    {% endif %}


    <div class="w3-container w3-padding-small{% if use_numbers %} numbered{% endif %}">

        {% unless page.no_content %}
            <div class="w3-padding-small w3-white  w3-round-large" style="outline:none;">
            <a id="__TOC"></a>

            <div class="w3-bar w3-padding-small">
                <button class="w3-button w3-padding-small w3-hover-white w3-left"><h2><i class="fas fa-list"></i> Content <a href="#__TOC" class="Anchor">#</a></h2> </button>
                <button onclick="toggleContent()" class="w3-large w3-button w3-hover-amber w3-white w3-round-xxlarge w3-left" style="position:relative; top: 20px">
                    <i id="ContentIcon" class="fa fa-angle-down" aria-hidden="true"></i>
                </button>

            </div>

            <div id="Content" class="w3-hide w3-container w3-padding-small">
                <div class="w3-padding">
                    <div class="toc" style="font-size: large">
                        {% include toc.html h_min=2 h_max=5 class=toc html=content ordered=true %}
                        <!-- <i class="fa fa-list" aria-hidden="true" id="ContentIcon"></i> -->
                    </div>
                </div>
            </div>
            </div>
        {% endunless %}

        <p></p>
        {% include anchor_headings.html html=content anchorBody="#" h_max=5 anchorClass="anchor"%}
    </div>
</div>




<script>
    function myFunction(id) {
        let x = document.getElementById(id);
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }

    function toggleContent() {
        let x = document.getElementById('Content');
        let ic = document.getElementById('ContentIcon');
        // let y = document.getElementById('__abstract');
        console.log(x);
        // var outer = document.getElementById('OuterContainer');
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
            ic.className = ic.className.replace(" fa-angle-down", " fa-angle-up");
            // y.className = y.className.replace(" w3-show", "");
        } else {
            x.className = x.className.replace(" w3-show", "");
            ic.className = ic.className.replace(" fa-angle-up", " fa-angle-down");
            // y.className += " w3-show";
        }
    }
    function toContent() {
        let x = document.getElementById('Content');
        if (x.className.indexOf(" w3-show") == -1) {
            toggleContent()
        }
    }

    function goToNextAnchor() {
        let x = document.getElementsByClassName("Anchor");
        let current = window.location.hash;
        let not_found = true;
        console.log("current = " + current);

        // In the current hash is in list of Anchors go to
        // the next in the list
        for (i = 0; i < x.length; i++){
            console.log(x[i]);
            if (i > 0 && x[i - 1].hash == current){
                window.location.href = x[i].href;
                // console.log(window.scrollY)
                // window.scrollBy(0, 0);
                not_found = false;
            }
        }
        // If hash is last entry do nothing, else go to first
        if (not_found) {
            console.log(!(x[x.length - 1].hash == current));
            if (!(x[x.length - 1].hash == current)){
                window.location.href = x[0].href;
                // window.scrollBy(-20, 0);
            }
        }
        return false;
    }

    function goToPreviousAnchor() {
        let x = document.getElementsByClassName("Anchor");
        let current = window.location.hash;
        var not_found = true;
        console.log("current = " + current);

        // In the current hash is in list of Anchors go to
        // the next in the list
        for (i = x.length - 2; i > 0; i--){
            if (x[i + 1].hash == current){
                window.location.href = x[i].href;
                console.log(window.location)
                // window.scrollBy(-20, 0);
                not_found = false;

            }
        }
        // If hash is last entry do nothing, else go to first
        if (not_found) {
            // console.log(x[x.length - 1]);
            if (!(x[0].hash == current)){
                window.location.href = x[0].href;
                // window.scrollBy(-20, 0);
            }
        }
        return false;
    }

    //Resize window
    function resize() {
        let x = document.getElementById('pad');
        x.className = x.className.replace('w3-card-4 w3-margin w3-padding', '');
        console.log(x.className, x.scrollWidth);
        if (x.scrollWidth  > 700) {
            x.className += 'w3-card-4 w3-margin w3-padding';
        } else {
        }
    }

    function setsize() {
        let x = document.getElementById('pad');
        console.log(x.className, x.scrollWidth);
        if (x.scrollWidth  > 700) {
            x.className += 'w3-card-4 w3-margin w3-padding';
        }
    }


    let headerHeight = document.getElementById("header").offsetHeight;
    let bar = document.getElementById('BAR');

    window.addEventListener('scroll', function(e) {
        console.log(headerHeight);
        if (document.body.scrollTop > bar.getBoundingClientRect().top + headerHeight) {
            bar.className = bar.className.replace("w3-hide", "w3-show")
        }
        if (document.body.scrollTop < bar.getBoundingClientRect().top + headerHeight) {
            bar.className = bar.className.replace("w3-show", "w3-hide")
        }
    });

    // window.addEventListener("hashchange", function () {
    //     window.scrollTo(window.scrollX, window.scrollY + 100);
    // });

    // //watch window resize
    // window.onresize = resize;
    // window.onload = setsize;

</script>