---
layout: default
---


<div class="w3-content w3-padding-small" style="max-width:{{ site.page_width }}">
    <div id="pad">

    <div class="w3-container w3-row">
        <div class="w3-col l2 m0 s0 w3-container"></div>
        <div class="w3-col l8 m0 s0 w3-container">
            <a id="__title"></a><h1 class="w3-center">{{ page.title }} <a href="#__title" class="Anchor">#</a></h1>
        </div>
        <div class="w3-col l2 m0 s0 w3-container"></div>
    </div>

    <div class="w3-container w3-padding-small{% if use_numbers %} numbered{% endif %}">
        {% include anchor_headings.html html=content anchorBody="#" h_max=3 anchorClass="Anchor" %}
    </div>
    </div>
</div>

<script>
    //Resize window
    function resize() {
        let x = document.getElementById('pad');
        x.className = x.className.replace('w3-card-4 w3-margin w3-padding', '');
        console.log(x.className, x.scrollWidth);
        if (x.scrollWidth  > 700) {
            x.className += 'w3-card-4 w3-margin w3-padding';
        } else {
        }
    }

    function setsize() {
        let x = document.getElementById('pad');
        console.log(x.className, x.scrollWidth);
        if (x.scrollWidth  > 700) {
            x.className += 'w3-card-4 w3-margin w3-padding';
        }
    }

    //watch window resize
    // window.onresize = resize;
    // window.onload = setsize;
</script>
